* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;   
    width: 100%;
}

.banner-principal {
    width: 100%;
}

.banner-principal .image {
    width: 100%;
}

.banner-principal .image img {
    width: 100%;
}

.logomarca {
    width: 100%;
    display: flex;
}

.logomarca .image {
    width: 100%;
    display: flex;
}

.logomarca .image img {
    width: 80px;
    margin: 0 auto;
    border-radius: 50%;
    border: 12px solid white;
    margin-top: -64px;
}

.bandeiras {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 48px;
    gap: 32px;
}

.bandeira {
    border-radius: 10px;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    width: 250px;
    padding: 16px 0;
    text-align: center;
    cursor: pointer;
}

#outras-bandeiras {
    background-color: #50392f;
}


.wrapper-bandeira {
    margin: auto;
    width: 80%;
    height: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.space {
    margin: 64px 0;
}


h1 {
    font-size: 24px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px ;
    font-size: 24px;
}

table {
    margin: auto;
    margin-top: 48px;
    width: 100%;
    outline: none;
}

th {
    padding: 4px 0;
}

td {
    padding: 4px 0;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #a7a7a7b3;
    color: black;
}

tr:nth-child(even) {
    background-color: rgb(52, 52, 52);
}

footer {
    background-color: black;
    width: 100%;
    padding: 24px 0;
    margin-top: 48px;
    display: flex;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0 auto;
    
}

/* .hidder {
    display: none;
} */

#receber {
    padding: 8px ;
    font-size: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
    margin-top: 32px;
}

.form #sendBtn, #sendBtnOther {
    margin-top: 24px;
    padding: 8px 0;
    width: 50%;
    margin: auto;
}

#bandeiras {
    display: flex;
}

#main {
    display: none;
}

#other {
    display: none;
}

@media (min-width: 800px) {
    #receber {
        width: 90%;
    }
    .form {
        margin: auto;
        background-color: rgba(0, 0, 0, 0.416);
        padding: 20px 10px 20px 20px;
        border-radius: 8px;
        box-shadow: rgba(109, 108, 108, 0.35) 0px 5px 15px;
    }

    .wrapper-bandeira {
        width: 50%;
    }
}

@media (max-width: 450px) {
    .form {
        margin-top: 0;
    }

    .logomarca .image img  {
        width: 50px;
        border: 8px solid white;
        margin-top: -40px;
    }
}

